<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<h1>메인(인증된) 페이지 : {{sessionUser.username}}</h1>
<hr>
{{#shopList}}
    <div>
        상품이름 : {{name}} <br>
        가격 : {{price}} <br>
        재고 : {{qty}} <br>
        <hr>
    </div>
{{/shopList}}

</body>
</html>